html,body{
    height:100%;
}
img {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    overflow-y: hidden !important;
}
#main_wrapper {
	display: none;
}
.header_title {
	color: greenyellow;
}
.loading {
	width: 100%;
	height: 100%;
	top: 50%;
	text-align: center;
	position: fixed;
}
#main_content {
	padding: 0 !important;
}
#main_content_banner_wrapper {
	width: 100%;
	height: 300px;
	background: green;
}
#main_content_horario_wrapper {
	width: 100%;
	height: 15%;
	background: white;
}
#main_content_options_wrapper {
	width: 100%;
	height: 45%;
	background: red;
}