html,body{
    height:100%;
}
#main_wrapper {
	display: none;
}
.header_title {
	color: greenyellow;
}
.loading {
	width: 100%;
	height: 100%;
	top: 50%;
	text-align: center;
	position: fixed;
}
#main_content_banner_wrapper {
	width: 100%;
	height: 40%;
	background: green;
}
#main_content_horario_wrapper {
	width: 100%;
	height: 15%;
	background: white;
}
#main_content_options_wrapper {
	width: 100%;
	height: 45%;
	background: red;
}